* {
    margin: 0;
}

body {
    display: flex;
}

#side {
    width: 40%;
    height: 100vh;
    background-image: url(./image/sample.jpg);
    background-size: 40vw 100vh;
}

.input-container {
    display: inline-block;
}
input {
    display: block;
    appearance: none;
}

#translucent {
    position: relative;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
}

#website-name {
    text-align: center;
    font-size: 5em;
    color: rgb(243, 243, 243);
}

#main {
    padding: 0 0 0 2rem;
}